<p>Dear <%= @organization.name.titleize %>,</p>

<% if @request.resource.pluralize == @request.resource %>
  <% resource_str = @contribution.resource_amount != 1 ? @request.resource : @request.resource.singularize %>
<% elsif @request.resource.singularize == @request.resource %>
  <% resource_str = @contribution.resource_amount == 1 ? @request.resource : @request.resource.pluralize %>
<% end %>

<p>
  <%= @donor.name.titleize %> has promised to donate
  <%= @contribution.resource_amount %> <%= resource_str %>!
</p>

<p><%= cl_image_tag(@contribution.photo, width: 200) %></p>

<% if @contribution.tax_form_flag %>

<p>
  Also, a tax deduction form has been requested to be mailed to:
  <br><%= @donor.address %>, <%= @donor.city %>.
</p>

<% end %>

<p>
  If you have questions, please email <%= @donor.name.titleize %> at <%= @donor.email %>.
</p>

<p>
  Sincerely,<br>
  Ripple in a Pond Team
</p>

<p>
  <a href="http://www.rippleinapond.org">www.rippleinapond.org</a>
</p>
