<div class="loginBox">


        <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>

        <%= form_tag sessions_path do %>

        <ul>

          <li>
            <label class="login_label" for="email">Email </label>
            <p><%= email_field_tag :email, params[:email] %></p>
          </li>
          <li>
            <label class="login_label" for="password">Password</label>
            <p><%= password_field_tag :password, params[:password] %></p>
          </li>

          <li style="margin:0 auto; text-align:center">
                 <%= link_to "Forgot Your Password Again?", new_password_reset_path  unless session[:organization_id] || session[:donor_id] %></li>

          <li style="margin:0 auto; text-align:center">
          <%= submit_tag 'Log In', :class => 'tfbutton_login' %>
        </li><br>

        </ul>


        <% end %>



  </div>

