<div class="loginBox">
  <% if @donor %>
      <%= form_for @donor, :url => password_reset_path(params[:id]) do |f| %>
       <% if @donor.errors.any? %>
        <h5>Form is invalid</h5>
        <ul>
          <% for message in @donor.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>

        <ul>
          <li>
            <label class="login_label">New Password:</label>
            <p><%= f.password_field :password %></p>
          </li>

          <li>
            <label class="login_label">Confirm Password:</label>
            <p><%= f.password_field :password_confirmation %></p>
          </li>
        <li style="margin:0 auto; text-align:center">
          <%= f.submit "Update Password", :class => "tfbutton" %>
        </li>
      <% end %>

    <% elsif @organization %>

         <%= form_for @organization, :url => password_reset_path(params[:id]) do |f| %>
       <% if @organization.errors.any? %>
        <h5>Form is invalid</h5>
        <ul>
          <% for message in @organization.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>

        <ul>
          <li>
            <label class="login_label">New Password:</label>
            <p><%= f.password_field :password %></p>
          </li>

          <li>
            <label class="login_label">Confirm Password:</label>
            <p><%= f.password_field :password_confirmation %></p>
          </li>

          <li style="margin:0 auto; text-align:center">
            <%= f.submit "Update Password", :class => "tfbutton" %>
          </li>
        </ul>
      <% end %>


    <% end %>
</div>

