<div class="overflowBox" style="margin: 5% auto 5% auto; width: 80%;">
    <div class="box" style=" width: 40em;">
      <header class="fulfilled" style="margin-bottom: 5%;">Edit Account</header>

      <%= form_for @donor do |f| %>
        <% if @donor.errors %>
          <div>
            <ul>
              <% for message in @donor.errors.full_messages %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <ul class="longSign">

        <li>
          <label class="form_label" for="name">Name: <%= f.text_field :name, :placeholder => @donor.name %></label>
        </li>
        <li>
          <label class="form_label" for="city">Address: <%= f.text_field :city, :placeholder => @donor.address %></label>
        </li>
         <li>
            <label class="form_label" for="address"><%= f.text_field :address, :placeholder => "city state zip" %></label>
          </li>
        <li>
          <label class="form_label" for="phone_number">Phone: <%= f.telephone_field :phone_number, :placeholder => @donor.phone_number %></label>
        </li>
        <li>
          <label class="form_label" for="email">Email: <%= f.email_field :email, :placeholder => @donor.email %></label>
        </li>

        <li>
          <label class="form_label" for="password">New Password: <%= f.password_field :password %></label>
        </li>
        <li>
          <label class="form_label" for="password_confirmation">Confirm New Password: <%= f.password_field :password_confirmation %></label>
        </li>
        <li>
          <div class="formButton">
            <%= f.submit 'Save Changes', :class => 'tfbutton' %>
          </div>
        </li>
      </ul>
      <% end %>

    </div>
    <div class="placeholderBox">
    </div>
  </div>
