<div class="overflowBox" style="margin: 5% auto 5% auto; width: 80%;">
    <div class="box" style="float: left; width: 40%;">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><%= @donor.name %> </header>

      <ul class="account">

        <li>
          <div class="fill_label">
            <label for="name">Location:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.city %></p>
          </div>

        </li>
        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Phone Number:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.phone_number %></p>
          </div>

        <li><hr></li>


        <li>
          <div class="fill_label">
            <label for="name">E-mail:</label>
          </div>

          <div class="fill_p">
            <p><%= @donor.email %></p>
          </div>
        </li>

        <li><hr></li>
            <%= link_to "Edit Profile", edit_donor_path(session[:donor_id]), :class => "tfbutton" %><br><br>
      </ul>


    </div>


    <div class="reqAcctBox" style="margin-top: 2%;">
      <div class="box" style="width: 100%; margin-top: 0;">

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Requests</header>

        <div style="height: 85%; overflow-y: scroll">
             <nav id="menu">
              <% @contributions.each do |contribution| %>
                <% @requests.each do |request| %>
            <ul class="parent-menu">
                <div style="float: left;"><%= link_to "Donated #{contribution.resource_amount} #{request.resource} at #{request.address} for the #{request.organization}", request_path(request.id) if contribution.request_id == request.id && ( request.end_date.nil? || request.end_date > Date.today ) %></div>
                <div style="float: right;"><%= "End Date: #{request.end_date}" if contribution.request_id == request.id && (!request.end_date.nil? && request.end_date > Date.today) %></div>
                <div style="float: right;"><%= "End Date: indefinite" if contribution.request_id == request.id && (!request.complete && request.end_date.nil? ) %></div>
            </ul>
                  <% end %>
               <% end %>
          </nav>
        </div>

      </div>

      <div class="box" style=" height: 20em; width: 100%;">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Request History</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
             <% @requests.each do |request| %>
            <ul class="parent-menu">
            <li>
             <div style="float: left;"><%= link_to "#{request.resource_count} of #{request.resource} needed at #{request.address}", request_path(request.id) if !request.end_date.nil? && request.end_date < Date.today  %></div>
                <div style="float: right;"><%= "Finished at #{request.end_date}" if !request.end_date.nil? && request.end_date < Date.today %></div>
            </li>

            </ul>
            <% end %>
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>
