<div class="overflowBox" style="margin: 5% auto 5% auto; width: 80%;">
    <div class="box" style="float: left; width: 35em;">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><%= @donor.name %> </header>

      <ul class="account">

        <li>
          <div class="fill_label">
            <label for="name">Location:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.city %></p>
          </div>

        </li>
        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Phone Number:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.phone_number %></p>
          </div>

        <li><hr></li>


        <li>
          <div class="fill_label">
            <label for="name">E-mail:</label>
          </div>

          <div class="fill_p">
            <p><%= @donor.email %></p>
          </div>
        </li>

        <li><hr></li>
            <%= link_to "Edit Profile", edit_donor_path(session[:donor_id]), :class => "tfbutton" if session[:donor_id]%><br><br>
      </ul>


    </div>


    <div class="reqAcctBox" style="margin-top: 2%;">
      <div class="box" style="width: 40em; margin-top: 0;">

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Contributions</header>

        <div style="height: 85%; overflow-y: scroll">

             <nav class="menu">
              <% @contributions.each do |contribution| %>
                <% @requests.each do |request| %>
                <ul class="parent-menu">
                  <li>
                  <% if contribution.request_id == request.id && ( request.end_date.nil? || request.end_date > Date.today ) %>
                    <div class="acc_reqMainContent">
                      <strong><%= link_to "#{contribution.resource_amount} #{request.resource}", request_path(request.id) if request.end_date.nil? || request.end_date >= Date.today %></strong>
                      <p><%= link_to "#{request.organization}", request_path(request.id) if request.end_date.nil? || request.end_date >= Date.today %></p>
                    </div>
                    <div class="acc_reqDate" style="float: right;"><%= "End Date: #{request.end_date}" if !request.end_date.nil? && request.end_date >= Date.today %></div>
                  <div class="acc_reqDate" style="float: right;"><%= "End Date: indefinite" if request.end_date.nil?  %></div>
                  <% end %>
                  <hr></hr>
                </li>
                  <% end %>
               <% end %>
               </ul>
          </nav>
            <% if @requests.size == 0 %>
              <p> No requests active </p>
            <% end %>
        </div>

      </div>

      <div class="box" style=" height: 20em; width: 40em;">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Contribution History</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav class="menu">
            <% @contributions.each do |contribution| %>
             <% @requests.each do |request| %>
              <ul class="parent-menu">
                <li>
                  <div class="acc_reqMainContent">
                    <strong><%= link_to "#{contribution.resource_amount} of #{request.resource}", request_path(request.id) if request.end_date.nil? || request.end_date > Date.today %></strong>
                    <p><%= link_to "#{request.organization}", request_path(request.id) if request.end_date.nil? || request.end_date > Date.today %></p>
                  </div>
                  <div class="acc_reqDate" style="float: right;"><%= "End Date: #{request.end_date}" if !request.end_date.nil? && request.end_date > Date.today %>
                  </div>
                  <div class="acc_reqDate" style="float: right;"><%= "End Date: indefinite" if request.end_date.nil?  %>
                  </div>
                <hr></hr>
                </li>
                <% end %>
                <% end %>
              </ul>

          </nav>
            <% if @requests.size == 0 %>
              <p> No requests in history </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

