<div class="overflowBox">
    <div class="donBox">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><%= @donor.name %> </header>

      <ul class="account">

        <li>
          <div class="fill_label">
            <label for="name">Location:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.city %></p>
          </div>

        </li>
        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Phone Number:</label>
          </div>
          <div class="fill_p">
            <p><%= @donor.phone_number %></p>
          </div>

        <li><hr></li>


        <li>
          <div class="fill_label">
            <label for="name">E-mail:</label>
          </div>

          <div class="fill_p">
            <p><%= @donor.email %></p>
          </div>
        </li>

        <li><hr></li>
        <p align="center">
          <%= link_to "Edit Profile", edit_donor_path(session[:donor_id]), :class => "tfbutton" if session[:donor_id]%>
        </p>
      </ul>


    </div>


    <div class="reqAcctBox" style="margin-top: 2%;">
      <div class="reqAcctBox_box">

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Contributions</header>

        <div style="height: 85%; overflow-y: scroll">

          <nav class="menu">
            <ul class="parent-menu">
              <% @requests_active = 0 %>
              <% @contributions.each do |contribution| %>
                <% @requests.each do |request| %>
                  <% if contribution.request_id == request.id && (request.end_date.nil? || request.end_date > Date.today) %>
                    <% @requests_active += 1 %>
                    <li>
                      <hr>
                      <div class="acc_reqMainContent">
                        <% resource_str = contribution.resource_amount != 1 ? request.resource : request.resource.singularize %>
                        <strong>
                          <%= link_to "#{contribution.resource_amount} #{resource_str}", request_path(request.id) %>
                        </strong>
                        <p>
                          <%= link_to "#{request.organization}", request_path(request.id) %>
                        </p>
                      </div>
                      <div class="acc_reqDate" style="float: right;">
                        <%= "End Date: #{request.end_date}" if !request.end_date.nil? %>
                        <%= "End Date: indefinite" if request.end_date.nil? %>
                      </div>
                      <hr>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </nav>
          <% if @requests_active == 0 %>
            <p> No requests active </p>
          <% end %>
        </div>

      </div>

      <div class="reqAcctBox_box2">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Contribution History</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav class="menu">
            <ul class="parent-menu">
              <% @requests_in_history = 0 %>
              <% @contributions.each do |contribution| %>
                <% @requests.each do |request| %>
                  <% if contribution.request_id == request.id && (!request.end_date.nil? && request.end_date < Date.today) %>
                    <% @requests_in_history += 1 %>
                    <li>
                      <hr>
                      <div class="acc_reqMainContent">
                        <% resource_str = contribution.resource_amount != 1 ? request.resource : request.resource.singularize %>
                        <strong>
                          <%= link_to "#{contribution.resource_amount}  #{resource_str}", request_path(request.id) %>
                        </strong>
                        <p>
                          <%= link_to "#{request.organization}", request_path(request.id) %>
                        </p>
                      </div>
                      <div class="acc_reqDate" style="float: right;">
                        <%= "Finished at #{request.end_date}" %>
                      </div>
                      <hr>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </nav>
          <% if @requests_in_history == 0 %>
            <p> No requests in history </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
