  <div class="fillBox">
    <header class="fulfilled">Edit Request</header>
      <%= form_for @request do |f| %>

        <p id="rNeed">Resource Needed: <%= f.text_field :resource, :placeholder => "water bottles, blankets" %></p>
        <p>Quantity Needed: <%= f.text_field :target_resource_count, :placeholder => "500, 200" %></p>
        <p>Address: <%= f.text_field :address, :placeholder => "1234 Valencia St, CA 94103" %></p>
        <p>Description: <%= f.text_field :description, :placeholder => "Dehydrated Refugees" %></p>
        <p>Date posted: <%= f.date_select :start_date  %></p>
        <p>Need by: <%= f.date_select :end_date, :include_blank => true  %></p>
        <p><%= f.submit 'Submit', :class => 'tfbutton'%></p>
      <% end %>
  </div>
