<div id="needsBox">
  <h2>Find organizations in need:</h2>


      <% if flash[:notice] %>
          <div class="signup"><%= flash[:notice] %></div>
          <% end %>

      <%= form_tag requests_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>

        <br><div class = "tfbutton"><%= sortable "organization" %></div>
        <div class = "tfbutton"><%= sortable "resource_count", "Quantity" %></div>
        <div class = "tfbutton"><%= sortable  "resource", "Resource Needed" %></div>

  <div class="request">
    <ul>
      <% @requests.each do |request| %>
        <li><%= link_to "#{request.organization} needs #{request.resource_count} #{request.resource} ", request_path(request) unless request.complete %></li>
        <%= link_to "#{request.organization} needs #{request.resource} ", request_path(request) if request.complete %>
         <p>Tags: <%= raw request.tag_list.map { |tag| link_to tag, tag_path(tag), :class => 'tfbutton'}.join(', ') %></p>
      <% end %>
    </ul>
  </div>
</div>
