  <div id="needsBox">

      <%= form_tag requests_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>

      <ul class="sorting_category">
        <li><%= sortable "organization" %></li>
        <li><%= sortable "resource_count", "Quantity" %></li>
        <li><%= sortable  "resource", "Resource Needed" %></li>
      </ul>


      <% @requests.each do |request| %>

         <div class="request"><%= link_to "#{request.organization} needs #{request.resource_count} #{request.resource} ", request_path(request) %></div>

      <% end %>
  </div>
