  <div class="promiseBox">
       <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>
      <img src="/assets/helping_hands_logo.png">

      <%= link_to "Sign Up", { controller: "sessions", action: "user_type_confirmation"}, :class => "tfbutton"%>

      <br>
    <%= link_to "Login",{ controller: "sessions", action: "user_type_login_confirmation" }, :class => "tfbutton" %>


    <p>Or start Searching</p>
    <%= link_to "Browse",{ controller: "requests", action: "index" }, :class => "tfbutton" %><br>


     <%= form_tag requests_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :class => 'tfbutton_search',:name => nil %>
      <% end %>
  </div>