 <div class="adjustBox">
  <div class="box">
     <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>
    <header class="fulfilled" style="margin-bottom: 0;">Make a Request</header>
      <%= form_for @request do |f| %>
      <ul class="longSign">
        <li>
            <p id="rNeed"><%= f.hidden_field :organization, :value => @organization.name %></p>
        </li>
        <li>
          <p id="organization_id" ><%= f.hidden_field :organization_id, :value => session[:organization_id] %></p>
        </li>
        <li>
           <%  if flash[:resource] %>
            <p class="error"> Resource Needed <%= flash[:resource].join(', and ') %></p>
          <% end %>
            <label class="form_label">Resource Needed:<%= f.text_field :resource, :id=> "rNeed", :placeholder => "water bottles, blankets" %></label>
        </li>

          <li>
        <%  if flash[:current_resource_count] %>
          <p class="error" > Quantity Current <%= flash[:current_resource_count].join(', and ') %></p>

        <% end %>
        <label class="form_label"><%= f.hidden_field :current_resource_count, :value => 0 %></label>
      </li>
      <li>
        <%  if flash[:target_resource_count] %>
          <p class="error" > Quantity Needed <%= flash[:target_resource_count].join(', and ') %></p>
        <% end %>
          <label class="form_label">Quantity Needed: <%= f.text_field :target_resource_count, :placeholder => "500, 200" %></label>
        </li>

        <li>
          <%  if flash[:address] %>
            <p class="error"> Address <%= flash[:address].join(', and ') %></p>
          <% end %>
            <label class="form_label">Address:
            <%= f.text_field :address, :placeholder => "Door, Street" %>
            </label>
        </li>
        <li>
        <%  if flash[:city] %>
          <p class="error"> City <%= flash[:city].join(', and ') %></p>
            <% end %>
        <label class="form_label" for="city"><%= f.text_field :city, :placeholder => "city, state, zip" %></label>
      </li>
        <li>
           <%  if flash[:description] %>
            <p class="error"> Description <%= flash[:description].join(', and ') %></p>
          <% end %>
            <label class="form_label">Purpose:
            <%= f.text_field :description, :placeholder => "Dehydrated Refugees" %>
            </label>
        </li>
          <li>
          <%  if flash[:tag_list] %>
            <p class="error"> Tag list <%= flash[:tag_list].join(', and ') %></p>
          <% end %>
            <label class="form_label">Tag list:
            <%= f.text_field :tag_list, :placeholder => "Clothing" %>
            </label>
        </li>
        <li>
            <label class="form_label">Start Date:
              <div class="input">
                <%= f.date_select :start_date  %>
              </div>
            </label>
        </li>
        <li>
            <label class="form_label">End Date:
              <div class="input">
                <%= f.date_select :end_date, :include_blank => true  %>
              </div>
            </label>
        </li>
        <li>
          <div class="formButton">
            <p><%= f.submit 'Submit', :class => 'tfbutton'%></p>
          </div>
        </li>
      </ul>
      <% end %>
  </div>
  <div class="placeholderBox">
  </div>

</div>