 <script>
 $(function() {
   $( "#start_date" ).datepicker();
   $( "#end_date" ).datepicker();
   $("#start_date").datepicker('setDate', new Date());
 });

 function initialize() {
   var input = document.getElementById('request_address');
   var autocomplete = new google.maps.places.Autocomplete(input);
 }

 google.maps.event.addDomListener(window, 'load', initialize);
 </script>

 <div class="adjustBox">
  <div class="box">
     <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>
    <header class="fulfilled" style="margin-bottom: 0;">Make a Request</header>
      <%= form_for @request do |f| %>
      <ul class="longSign">
        <li>
            <p id="rNeed"><%= f.hidden_field :organization, :value => @organization.name %></p>
        </li>
        <li>
          <p id="organization_id" ><%= f.hidden_field :organization_id, :value => session[:organization_id] %></p>
        </li>
        <li>
           <%  if flash[:resource] %>
            <p class="error"> Resource Needed <%= flash[:resource].join(', and ') %></p>
          <% end %>
            <label class="form_label">Resource Needed:<%= f.text_field :resource, :id=> "rNeed", :placeholder => "water bottles, blankets" %></label>
        </li>

          <li>
        <%  if flash[:current_resource_count] %>
          <p class="error" > Current Quantity <%= flash[:current_resource_count].join(', and ') %></p>
        <% end %>
        <%= f.hidden_field :current_resource_count, :value => 0 %>
      </li>
      <li>
        <%  if flash[:target_resource_count] %>
          <p class="error" > Quantity Needed <%= flash[:target_resource_count].join(', and ') %></p>
        <% end %>
          <label class="form_label">Quantity Needed: <%= f.text_field :target_resource_count, :placeholder => "500, 200" %></label>
        </li>
        <li>
          <%  if flash[:address] %>
            <p class="error"> Address <%= flash[:address].join(', and ') %></p>
          <% end %>
          <div id="address-div">
            <label class="form_label">Address:
            <%= f.text_field :address, :value => "#{@organization.address}" %>
            </label>
          </div>
        </li>

        <li>
           <%  if flash[:description] %>
            <p class="error"> Description <%= flash[:description].join(', and ') %></p>
          <% end %>
            <label class="form_label">What will this be used for?
            <%= f.text_field :description, :placeholder => "Dehydrated Refugees" %>
            </label>
        </li>
          <li>
          <%  if flash[:tag_list] %>
            <p class="error"> Tag list <%= flash[:tag_list].join(', and ') %></p>
          <% end %>
            <label class="form_label">Tag list:
              <% tags = [ 'Appliances',
                          'Art Supplies',
                          'Books',
                          'Collectibles',
                          'Food',
                          'Furniture',
                          'Gift Cards',
                          'Household Goods',
                          'Hygiene',
                          'Other',
                          'Pet Items',
                          'School/Office Supplies',
                          'Sporting Goods',
                          'Technology',
                          'Tickets',
                          'Tools',
                          'Toys',
                          'Water' ] %>    

              <%= f.select :tag_list, tags.collect { |t| [ t, t ] } %>
            </label>
        </li>
        <li>
            <%  if flash[:start_date] %>
               <p class="error"> <%= flash[:start_date].join(', and') %></p>
            <% end %>
            <label class="form_label">Date Posted:
              <div class="input">
                <%= f.text_field :start_date, id: "start_date"  %>
              </div>
            </label>
        </li>
        <li>
            <%  if flash[:end_date] %>
               <p class="error"> <%= flash[:end_date].join(', and') %></p>
            <% end %>
            <label class="form_label">Need By:
              <div class="input">
                <%= f.text_field :end_date, :include_blank => true, id: "end_date"  %>
              </div>
            </label>
        </li>
        <li>
          <div class="formButton">
            <p align="center"><%= f.submit 'Submit', :class => 'tfbutton'%></p>
          </div>
        </li>
      </ul>
      <% end %>
  </div>
  <div class="placeholderBox">
  </div>

</div>
