  <div class="topLinks">
     <%= link_to "HOME", controller: "requests", action: "index" %>
      <a href="#">ACCOUNT</a>
      <a href="#">MESSAGES</a>
  </div>

  <div id="needsBox">

      <p><%= @request.organization %></p>

      <p>We need <%= @request.resource_count %> of <%= @request.resource %> to send to <%= @request.address %></p><br>
      <p>Please let us know if you can donate </p>
      <button type="button"> Donate </button>
  </div>
<footer>
  <nav class="bottomLinks">
      <a href="#">About Us</a>
      <a href="#">Community</a>
      <a href="#">Education</a>
      <a >(c) HelpingHands, 2014</a>
  </nav>
</footer>