<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img_prev').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

$(document).ready(function(){
  $(".fakeButton2").click(function(){
    $(".actualButton").click();
  });

  $('#tax-form-checkbox').change(function() {
    if (this.checked) {
      alert("Note that your address will be sent to the organization that you are donating to so that they can mail you the tax deduction form.");
    }
  });
});


</script>

<div class="overflowBox">
  <div class="showReqBox">
    <header class="fulfilled"><%= @request.organization %></header>
    <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>

    <ul class="account">
      <li>
          <div class="fill_label">
            <label for="name">Need:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.resource %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Amount Needed:</label>
          </div>

          <div class="fill_p">
            <% amount_needed = @request.target_resource_count - @request.current_resource_count %>
            <p><%= amount_needed %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Delivery Address:</label>
          </div>

          <div class="fill_p">
            <p><%= @organization.address %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Purpose:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.description %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Date Posted:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.start_date %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">End Date:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.end_date == nil ? "Indefinite" : @request.end_date %></p>
          </div>
      </li>
      <li><hr></li>
           <li>
          <div class="fill_label">
            <label for="name">Status:
            </label>
          </div>

          <div class="fill_p">
            <progress class="progBar" value="<%= @request.current_resource_count %>" max="<%= @request.target_resource_count %>">
            </progress>
            <p><%= @request.current_resource_count %> / <%= @request.target_resource_count %></p>
            <% if @request.complete && session[:donor_id] %>
            <br><br><p><%= "Our Donation Goal for #{@request.resource} has been met!, if you wish to donate more #{@request.resource}, please contact the #{@request.organization} to see if this is possible. Feel free to follow the link below" %></p>
            <% elsif @request.complete && session[:organization_id] %>
              <br><br><p> This request has been fullfilled! </p>
            <% end %>
          </div>
      </li>

      <li><hr></li>
      <li>

        <%= link_to "Edit", edit_request_path(@request.id), :class => "tfbutton" if session[:organization_id]%>
        <%= link_to "Delete", request_path(@request.id),:method => 'delete', :class => "tfbutton" if session[:organization_id]%>

        <%= link_to "#{@organization.name}", organization_path(@organization.id), :class => "tfbutton" if @request.complete && session[:donor_id] %>


    </ul>
  </div>
  <% if session[:donor_id] %>
  <div class="donFormBox">
    <header class="smallHeader">
      <%= "Please complete the donation form." %>
    </header>

      <%= cloudinary_js_config %>
      <%= form_for @contribution do |f| %>
      <div class="donatePhoto">

        <div class="donate_img">
          <div class="profileImg-container">
            <img id="img_prev" class="avatar" alt="Donation Preview" src="/assets/placeholderDonate.jpg">
          </div>
        </div>
        <div class="picButton">
          <p align="center" style="margin-bottom: 0.1em">Upload a clear photo</p>
          <p align="center" style="margin-top: 0.1em">of your donation</p>
          <%= image_tag(@contribution.photo_url) if @contribution.photo? %>

          <div class="fakeButton2">
            Choose Image
          </div>
          <%= f.file_field(:photo, accept: 'image/*;capture=camera',
                            class: 'actualButton', onchange:'readURL(this);') %>
        </div>
      </div>


    <div class="reqAmtBox">
        <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>

      <ul class="aRequest">

        <li>
         <p id="donor_id"> <%= f.hidden_field :donor_id, :value => session[:donor_id] %></p>
          <p id="request_id"> <%= f.hidden_field :request_id, :value => @request.id %></p>
          <%  if flash[:resource_amount] %>
            <p class="error"> Resource Amount <%= flash[:resource_amount].join(', and ') %></p>
          <% end %>
          <%= f.label :resource_amount, 'How much are you donating?', id: "resource-amt-label" %>
          <%= f.number_field :resource_amount, :class=>"fillIn", min: 0, max: amount_needed, step: 1 %>
        </li>
        <li>
          <%= f.check_box :tax_form_flag, id: 'tax-form-checkbox' %>
          <%= f.label :tax_form_flag, "Do you want a tax deduction form?", id: "tax-form-label" %>
        </li>
        <%= f.hidden_field :contribution_date, :value => Date.today %>
        <li>
          <div class="formButton">
            <p align="center"><%= f.submit 'Complete Donation', :class => 'tfbutton' if session[:donor_id] %></p>
          </div>
        </li>

      </ul>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if session[:organization_id] %>
    <div class="donFormBox">

      <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Donors</header>

      <div style="height: 85%; overflow-y: scroll">
        <nav id="menu">
          <% @donors.each do |donor| %>
             <% @contributions.each do |contribution| %>

          <ul class="parent-menu">
            <li>
              <div class="photo">
                <%= cl_image_tag(contribution.photo_url) %>
              </div>
              <div class="acc_reqMainContent">
                <strong>
                <%= link_to "#{donor.name}",
                            donor_path(donor.id), :method => :get if contribution.donor_id == donor.id %>
                </strong>
                <p>
                  <%= link_to "#{contribution.resource_amount} #{@request.resource}s",
                            donor_path(donor.id), :method => :get if contribution.donor_id == donor.id %>
                </p>
              </div>
              <div class="acc_reqDate" style="float: right;">
                  <%= link_to "#{contribution.contribution_date}",
                            donor_path(donor.id), :method => :get if contribution.donor_id == donor.id %>
                </div>
              <hr>
            </li>
          </ul>
          <% end %>
        <% end %>
        </nav>

      </div>

    </div>
  <% end %>

  <div class="placeholderBox">
  </div>
</div>
