<div id="contentBox">
  <div class="box" style="float: left; width: 40%;">

    <header class="fulfilled"><%= @request.organization %></header>

    <ul class="account">
      <li>
          <div class="fill_label">
            <label for="name">Need:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.resource %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Amount:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.resource_count %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Delivery Address:</label>
          </div>

          <div class="fill_p">
            <p><%= @organization.address %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Purpose:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.description %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">Date Posted:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.start_date %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
          <div class="fill_label">
            <label for="name">End Date:</label>
          </div>

          <div class="fill_p">
            <p><%= @request.end_date %></p>
          </div>
      </li>
      <li><hr></li>
           <li>
          <div class="fill_label">
            <label for="name">Status</label>
          </div>

          <div class="fill_p">
            <p><%= "Ongoing" unless @request.complete %></p>
            <p><%= "Our Donation Goal for #{@request.resource} has been met!, if you wish to donate more #{@request.resource}, please contact the #{@request.organization} to see if this is possible. Feel free to follow the link below" if @request.complete %></p>
          </div>
      </li>
      <li><hr></li>
      <li>
        <p><%= link_to "Donate", new_contribution_path(:contribution => {:donor_id => session[:donor_id], :request_id => @request.id}), :class => "tfbutton" if session[:donor_id]%></p>
        <p><%= link_to "Edit", edit_request_path(@request.id), :class => "tfbutton" if session[:organization_id]%></p>
        <%= link_to "#{@organization.name}", organization_path(@organization.id), :class => "tfbutton" if @request.complete %>

      </li>
    </ul>
  </div>



  <div class="box" style="height: 100%; width: 30em; float: right;">
    <header class="smallHeader">Please complete the donation form.</header>
    <div class="donatePhoto">
      <div class="donate_img">
        <img alt="Insert Photo"src="images/donationPhoto.jpg" height="100%">
      </div>
      <div class="picButton">
        <p style="margin-bottom: 0.1em">Upload a clear photo</p>
        <p style="margin-top: 0.1em">of your donation</p>
        <button class="tfbutton" onclick="window.location.href='dophot.html'" href="dophoto.html">Upload Photo</button>
      </div>
    </div>


    <div style="margin-top: 8%;">
        <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>
      <%= form_for @contribution do |f| %>
      <ul class="aRequest">

        <li>
         <p id="donor_id"> <%= f.hidden_field :donor_id, :value => session[:donor_id] %></p>
          <p id="request_id"> <%= f.hidden_field :request_id, :value => @request.id %></p>
          <label class="fill_label">How much are you donating?</label>
          <%  if flash[:resource_amount] %>
            <p class="error"> Resource Amount <%= flash[:resource_amount].join(', and ') %></p>
          <% end %>
          <p><%= f.number_field :resource_amount, :placeholder => 2 , :class=>"fillIn" %></p>
        </li>
        <li>
          <label class="fill_label">Delivery Date:</label>
          <input class="fillIn" type="date" name="date" id="date" required />
        </li>
        <li><br></br></li>
        <li>
          <div class="formButton">
            <p><%= f.submit 'Complete Donation', :class => 'tfbutton'%></p>
          </div>
        </li>

      </ul>
      <% end %>
    </div>
  </div>
</div>




