<div class="contentBox" style="margin: 3% auto 5% auto; width: 90em">

    <!-- form box -->
    <div class="box" >
      <%= form_for @organization do |f| %>
        <% if @organization.errors %>
          <div>
            <ul>
              <% for message in @organization.errors.full_messages %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <ul class="longSign">

          <%= image_tag(@organization.avatar_url) if @organization.avatar? %>
    <%= f.file_field(:avatar) %>
    <%= f.hidden_field(:avatar_cache) %>

        <li>
          <label class="form_label" for="name">Name: <%= f.text_field :name, :placeholder => "ie 'Helper Hank Charity'" %></label>
        </li>
        <li>
          <label class="form_label" for="address">Address: <%= f.text_field :address, :placeholder => "ie 637 15th Street" %></label>
          </li>
        <li>
          <label class="form_label" for="city"><%= f.text_field :city, :placeholder => "ie 'San Francisco'" %></label>
        </li>

      <li>
      <label class="form_label" for="operation_days">Operation Days: <%= f.text_field :operation_days, :placeholder => "ie Monday - Thursday" %></label>
      </li>
       <li>
      <label class="form_label" for="opening_time">*Open from: <%= f.time_select :opening_time %></label>
    </li>
     <li>
      <label class="form_label" for="closing_time">*Until: <%= f.time_select :closing_time %></label>
    </li>
        <li>
          <label class="form_label" for="phone">Phone: <%= f.telephone_field :phone_number, :placeholder => "ie '646-832-08394'" %></label>
        </li>
        <li>
          <label class="form_label" for="email">Email: <%= f.email_field :email, :placeholder => "ie 'name@company.com'" %></label>
        </li>
        <li>
          <label class="form_label" for="website">Website: <%= f.text_field :website_url, :placeholder => "ie 'www.handyhank.com'" %></label>
        </li>
        <li>
          <label class="form_label" for="linked_in">LinkedIn: <%= f.text_field :linked_in_url, :placeholder => "ie 'linkedin.com/handyhank'" %></label></li>
        <li>
          <label class="form_label" for="facebook">Facebook: <%= f.text_field :facebook_url, :placeholder => "ie 'facebook.com/handyhank'" %></label></li>

           <li>
            <label class="form_label" for="security_question">*Security Question: <%= f.text_field :security_question, :placeholder => @organization.security_question %></label>
          </li>

          <li>
            <label class="form_label" for="security_answer">*Security Answer: <%= f.password_field :security_answer, :placeholder => @organization.security_answer %></label>
          </li>


        <li>
          <label class="form_label" for="password">New Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
        </li>
        <li>
          <label class="form_label" for="password">Verify Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
        </li>
        <li>
        </li>
      </ul>
      <div class="formButton">
          <%= f.submit 'Save Changes', :class => 'tfbutton' %>
      </div>
      <% end %>

    </div>


  </div>
