<div class="fillBox">
  <header class="fulfilled">Make an Account</header>
  <p class="centered_text">*Required Fields</p>


        <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
          <% end %>

  <%= form_for @organization do |f| %>
  <ul class="longSign">

    <li>
      <%  if flash[:name] %>
        <p class="error"> Name <%= flash[:name].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="name">*Name: <%= f.text_field :name, :placeholder => "ie 'Helper Hank Charity'" %></label>
    </li>
    <li>
      <%  if flash[:city] %>
        <p class="error"> City <%= flash[:city].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="city">*City: <%= f.text_field :city, :placeholder => "ie 'San Francisco'" %></label>
    </li>
     <li>
        <%  if flash[:address] %>
        <p class="error"> Address <%= flash[:address].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="address">*Address: <%= f.text_field :address, :placeholder => "ie 637 15th Street" %></label>
    </li>
     <li>
       <%  if flash[:operation_days] %>
        <p class="error"> Operation Days <%= flash[:operation_days].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="operation_days">*Operation Days: <%= f.text_field :operation_days, :placeholder => "ie Monday - Thursday" %></label>
    </li>
    <li>
      <%  if flash[:operation_hours] %>
        <p class="error"> Operation Hours <%= flash[:operation_hours].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="operation_hours">*Operation Hours: <%= f.text_field :operation_hours, :placeholder => "ie 9am - 5pm, 9am - 4pm on Thursdays" %></label>
    </li>
    <li>
       <%  if flash[:phone_number] %>
        <p class="error"> Phone Number <%= flash[:phone_number].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="phone">*Phone: <%= f.telephone_field :phone_number, :placeholder => "ie '646-832-08394'" %></label>
    </li>
    <li>
      <%  if flash[:email] %>
        <p class="error"> Email <%= flash[:email].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="email">*Email: <%= f.email_field :email, :placeholder => "ie 'name@company.com'" %></label>
    </li>
    <li>
      <%  if flash[:website_url] %>
        <p class="error"> Website url <%= flash[:website_url].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="website">*Website: <%= f.text_field :website_url, :placeholder => "ie 'www.handyhank.com'" %></label>
    </li>
    <li>
      <label class="form_label" for="linked_in">LinkedIn: <%= f.text_field :linked_in_url, :placeholder => "ie 'linkedin.com/handyhank'" %></label></li>
    <li>
      <label class="form_label" for="facebook">Facebook: <%= f.text_field :facebook_url, :placeholder => "ie 'facebook.com/handyhank'" %></label></li>
    <li>
      <%  if flash[:username] %>
        <p class="error"> Username <%= flash[:username].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="username">*Username <%= f.text_field :username, :placeholder => "ie 'HandyHank2001'" %></label>
    </li>
    <li>
        <%  if flash[:password] %>
        <p class="error"> Password <%= flash[:password].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="password">*Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
    </li>
    <li>
       <label class="form_label" for="password">*Password Confirmation: <%= f.password_field :password_confirmation, :placeholder => "eg secretpassword909" %></label>
    </li>
    <li><%= f.submit 'Register', :class => 'tfbutton' %></li>
  </ul>
  <% end %>
</div>

