
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img_prev').attr('src', e.target.result);
      $( ".org_avatar" ).removeAttr('style');
    };

    reader.readAsDataURL(input.files[0]);
  }
}

$(document).ready(function(){
  $(".fakeButton").click(function(){
    $(".actualButton").click();
  });
});

</script>

<div style="height: 120%">
  <div class="box">
  <header class="fulfilled">Make an Organization Account</header>

        <% if flash[:notice] %>
          <div ><%= flash[:notice] %></div>
          <% end %>


    <%= form_for @organization do |f| %>
    <ul class="longSign">
      <li>
        <div class="signUpPic">
          <div class="org_avatar">
            <img id="img_prev" alt="Add Logo Image" src="/assets/placeholderPic.jpg">
          </div>
        <%= cloudinary_js_config %>

        <%= image_tag(@organization.avatar_url) if @organization.avatar? %>
        <%= f.file_field(:avatar, onchange:'readURL(this);', :class=>'actualButton') %>
        <%= f.hidden_field(:avatar_cache) %>
        <div class="fakeButton">Choose File</div>
        </div>
      </li>
      <li>
          <%  if flash[:name] %>
            <p class="error"> Name <%= flash[:name].join(', and ') %></p>
          <% end %>
          <label class="form_label" for="name">*Name: <%= f.text_field :name, :placeholder => "Organization" %></label>
       </li>
        <li>
          <%  if flash[:description] %>
            <p class="error"> Description <%= flash[:description].join(', and ') %></p>
          <% end %>
          <label class="form_label" for="description">*Description: <%= f.text_area :description, :cols => 33, :rows => 5, :placeholder => "Our organization delivers quality care to homeless people all over our community" %></label>
       </li>

     <li>
        <%  if flash[:address] %>
        <p class="error"> Address <%= flash[:address].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="address">*Address: <%= f.text_field :address, :placeholder => "door, street" %></label>
    </li>
    <li>
        <%  if flash[:city] %>
          <p class="error"> *City <%= flash[:city].join(', and ') %></p>
            <% end %>
        <label class="form_label" for="city">  *City <%= f.text_field :city, :placeholder => "city, state, zip" %></label>
      </li>

     <li>
       <%  if flash[:operation_days] %>
        <p class="error"> Open on Operating Days <%= flash[:operation_days].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="operation_days">*Open on Operating Days: <%= f.text_field :operation_days, :placeholder => "Monday to Friday" %></label>
    </li>
    <li>
      <%  if flash[:opening_time] %>
        <p class="error"> Open from <%= flash[:opening_time].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="opening_time">*Open from: <%= f.time_select :opening_time %></label>
    </li>
     <li>
      <%  if flash[:closing_time] %>
        <p class="error"> Until <%= flash[:closing_time].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="closing_time">*Until: <%= f.time_select :closing_time %></label>
    </li>
    <li>
       <%  if flash[:phone_number] %>
        <p class="error"> Phone Number <%= flash[:phone_number].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="phone">*Phone: <%= f.telephone_field :phone_number, :placeholder => "ie '646-832-08394'" %></label>
    </li>
    <li>
      <%  if flash[:email] %>
        <p class="error"> Email <%= flash[:email].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="email">*Email: <%= f.email_field :email, :placeholder => "ie 'name@company.com'" %></label>
    </li>
    <li>
      <%  if flash[:website_url] %>
        <p class="error"> Website url <%= flash[:website_url].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="website">*Website: <%= f.url_field :website_url, :placeholder => "ie 'www.handyhank.com'" %></label>
    </li>
    <li>
      <label class="form_label" for="linked_in">LinkedIn: <%= f.url_field :linked_in_url, :placeholder => "ie 'linkedin.com/handyhank'" %></label></li>
    <li>
      <label class="form_label" for="facebook">Facebook: <%= f.url_field :facebook_url, :placeholder => "ie 'facebook.com/handyhank'" %></label></li>


          <li>
            <%  if flash[:security_question] %>
              <p class="error"> Security Question <%= flash[:security_question].join(', and ') %></p>
            <% end %>
            <label class="form_label" for="security_question">*Security Question: <%= f.text_field :security_question, :placeholder => "eg What is your first pets name" %></label>
          </li>

          <li>
            <%  if flash[:security_answer] %>
              <p class="error"> Security Answer <%= flash[:security_answer].join(', and ') %></p>
            <% end %>
            <label class="form_label" for="security_answer">*Security Answer: <%= f.password_field :security_answer, :placeholder => "eg Tigger" %></label>
          </li>

    <li>
        <%  if flash[:password] %>
        <p class="error"> Password <%= flash[:password].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="password">*Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
    </li>
    <li>
       <label class="form_label" for="password">*Password Confirm: <%= f.password_field :password_confirmation, :placeholder => "eg secretpassword909" %></label>
    </li>
    <li>
      <div class="formButton" >
      <%= f.submit 'Register', :class => 'tfbutton' %>
      </div>
      </li><br>
    </ul>
    <% end %>
  </div>

  <div class="placeholderBox">
  </div>
</div>
