
<script>

var fileName = "";

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      fileName = e.target.result
      $('#img_prev').attr('src', fileName );
    };
    reader.readAsDataURL(input.files[0]);
  }
}

$(document).ready(function(){
  $(".fakeButton").click(function(){
    $(".actualButton").click();
  });

  $("#new_organization").validate({
    debug: true,
    rules: {
      "organization[name]": {required: true},
      "organization[description]": {required: true},
      "organization[address]": {required: true},
      "organization[city]": {required: true},
      "organization[operation_days]": {required: true},
      "organization[opening_time(4i)]": {required: true},
      "organization[opening_time(5i)]": {required: true},
      "organization[closing_time(4i)]": {required: true},
      "organization[closing_time(5i)]": {required: true},
      "organization[phone_number]": {required: true},
      "organization[email]": {required: true},
      "organization[website_url]": {required: true},
      "organization[password]": {required: true, minlength: 8},
      "organization[password_confirmation]": {required: true, equalTo: "#organization_password"}
    },
    messages: {
      "organization[name]": {required: "Name is required."},
      "organization[description]": {required: "Description is required."},
      "organization[address]": {required: "Address is required"},
      "organization[city]": {required: "City is required."},
      "organization[operation_days]": {required: "Days of operation is required."},
      "organization[opening_time(4i)]": {required: "Opening time is required."},
      "organization[opening_time(5i)]": {required: "Opening time is required."},
      "organization[closing_time(4i)]": {required: "Closing time is required."},
      "organization[closing_time(5i)]": {required: "Closing time is required."},
      "organization[phone_number]": {required: "Phone number is required."},
      "organization[email]": {required: "Email is required."},
      "organization[website_url]": {required: "Website is required."},
      "organization[password]": {required: "Please input a password.",
                                 minlength: "Password must have at least 8 characters"},
      "organization[password_confirmation]": {required: "Please confirm your password.",
                                              equalTo: "Password confirmation does not match password."}
    }
  });
});

</script>

<div style="height: 120%">
  <div class="box">
  <header class="fulfilled">Make an Organization Account</header>

        <% if flash[:notice] %>
          <div ><%= flash[:notice] %></div>
          <% end %>


    <%= form_for @organization do |f| %>
    <ul class="longSign">
      <li>
        <div class="signUpPic">
          <div class="profileImg">
            <div class="profileImg-container">
              <img id="img_prev" alt="Add Logo Image" src="/assets/placeholderPic.jpg">
            </div>
          </div>
        <%= cloudinary_js_config %>

        <%= f.file_field(:avatar, onchange:'readURL(this);', :class=>'actualButton') %>
        <%= f.hidden_field(:avatar_cache) %>
        <div class="fakeButton">Choose File</div>
        </div>
      </li>
      <li>
          <%  if flash[:name] %>
            <p class="error"> Name <%= flash[:name].join(', and ') %></p>
          <% end %>
          <label class="form_label" for="name">*Name: <%= f.text_field :name, :placeholder => "Organization" %></label>
       </li>
        <li>
          <%  if flash[:description] %>
            <p class="error"> Description <%= flash[:description].join(', and ') %></p>
          <% end %>
          <label class="form_label" for="description">*Description: <%= f.text_area :description, :cols => 33, :rows => 5, :placeholder => "Our organization delivers quality care to homeless people all over our community" %></label>
       </li>

     <li>
        <%  if flash[:address] %>
        <p class="error"> Address <%= flash[:address].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="address">*Address: <%= f.text_field :address, :placeholder => "door, street" %></label>
    </li>
    <li>
        <%  if flash[:city] %>
          <p class="error"> *City <%= flash[:city].join(', and ') %></p>
            <% end %>
        <label class="form_label" for="city">  *City: <%= f.text_field :city, :placeholder => "city, state, zip" %></label>
      </li>

     <li>
       <%  if flash[:operation_days] %>
        <p class="error"> Open on Operating Days <%= flash[:operation_days].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="operation_days">*Operating Days:
        Sun <%= f.check_box(:operation_days, { :multiple => true }, 'Sun', nil) %>
        | Mon <%= f.check_box(:operation_days, { :multiple => true }, 'Mon', nil) %>
        | Tue <%= f.check_box(:operation_days, { :multiple => true }, 'Tue', nil) %>
        | Wed <%= f.check_box(:operation_days, { :multiple => true }, 'Wed', nil) %>
        <br>Thu <%= f.check_box(:operation_days, { :multiple => true }, 'Thu', nil) %>
        | Fri <%= f.check_box(:operation_days, { :multiple => true }, 'Fri', nil) %>
        | Sat <%= f.check_box(:operation_days, { :multiple => true }, 'Sat', nil) %>
      </label>
    </li>
    <li>
      <%  if flash[:opening_time] %>
        <p class="error"> Open from <%= flash[:opening_time].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="opening_time">*Open from: <%= f.time_select :opening_time, {:minute_step => 30, :ampm => true} %></label>
    </li>
     <li>
      <%  if flash[:closing_time] %>
        <p class="error"> Until <%= flash[:closing_time].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="closing_time">*Until: <%= f.time_select :closing_time, {:minute_step => 30, :ampm => true} %></label>
    </li>
    <li>
       <%  if flash[:phone_number] %>
        <p class="error"> Phone Number <%= flash[:phone_number].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="phone">*Phone: <%= f.telephone_field :phone_number, :placeholder => "Don't include 1" %></label>
    </li>
    <li>
      <%  if flash[:email] %>
        <p class="error"> Email <%= flash[:email].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="email">*Email: <%= f.email_field :email, :placeholder => "ie 'name@company.com'" %></label>
    </li>
    <li>
      <%  if flash[:website_url] %>
        <p class="error"> Website url <%= flash[:website_url].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="website">*Website: <%= f.text_field :website_url, :placeholder => "ie 'www.handyhank.com'" %></label>
    </li>
    <li>
      <label class="form_label" for="linked_in">LinkedIn: <%= f.text_field :linked_in_url, :placeholder => "ie 'linkedin.com/handyhank'" %></label></li>
    <li>
      <label class="form_label" for="facebook">Facebook: <%= f.text_field :facebook_url, :placeholder => "ie 'facebook.com/handyhank'" %></label></li>

    <li>
        <%  if flash[:password] %>
        <p class="error"> Password <%= flash[:password].join(', and ') %></p>
          <% end %>
      <label class="form_label" for="password">*Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
    </li>
    <li>
       <label class="form_label" for="password">*Password Confirm: <%= f.password_field :password_confirmation, :placeholder => "eg secretpassword909" %></label>
    </li>
    <li>
      <div class="formButton" >
      <p align="center"><%= f.submit 'Register', :class => 'tfbutton' %></p>
      </div>
      </li><br>
    </ul>
    <% end %>
  </div>

  <div class="placeholderBox">
  </div>
</div>
