<div style="height: 40em;"class="box">
  <header class="fulfilled">Make an Organization Account</header>
  <p class="centered_text">*Required Fields</p>


        <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
          <% end %>

  <%= form_for @organization do |f| %>
  <ul class="longSign">

    <li>
      <label class="form_label" for="name">*Name: <%= f.text_field :name, :placeholder => "Organization" %></label>
    </li>

     <li>
      <label class="form_label" for="address">*Address: <%= f.text_field :address, :placeholder => "door, street" %></label>
    </li>

    <li>
      <label class="form_label" for="city"><%= f.text_field :city, :placeholder => "city, state, zip" %></label>
    </li>

     <li>
      <label class="form_label" for="operation_days">*Operation Days: <%= f.text_field :operation_days, :placeholder => "ie Monday - Thursday" %></label>
    </li>
    <li>
      <label class="form_label" for="operation_hours">*Operation Hours: <%= f.text_field :operation_hours, :placeholder => "ie 9am - 5pm, 9am - 4pm on Thursdays" %></label>
    </li>
    <li>
      <label class="form_label" for="phone">*Phone: <%= f.telephone_field :phone_number, :placeholder => "ie '646-832-08394'" %></label>
    </li>
    <li>
      <label class="form_label" for="email">*Email: <%= f.email_field :email, :placeholder => "ie 'name@company.com'" %></label>
    </li>
    <li>
      <label class="form_label" for="website">*Website: <%= f.text_field :website_url, :placeholder => "ie 'www.handyhank.com'" %></label>
    </li>
    <li>
      <label class="form_label" for="linked_in">LinkedIn: <%= f.text_field :linked_in_url, :placeholder => "ie 'linkedin.com/handyhank'" %></label></li>
    <li>
      <label class="form_label" for="facebook">Facebook: <%= f.text_field :facebook_url, :placeholder => "ie 'facebook.com/handyhank'" %></label></li>
    <li>
      <label class="form_label" for="password">*Password: <%= f.password_field :password, :placeholder => "ie 'SecretPas$word9'" %></label>
    </li>
    <li>
      <label class="form_label" for="password">*Password Confirmation: <%= f.password_field :password_confirmation, :placeholder => "eg secretpassword909", :id=> "input" %></label>
    </li>
    <li><p></p></li>
    <li>
      <div class="formButton" >
      <%= f.submit 'Register', :class => 'tfbutton' %>
    </div>
    </li>
  </ul>
  <% end %>
</div>

