  <div class="overflowBox" style="margin: 5% auto 5% auto; width: 80%;">
    <div class="box" style="float: left; width: 40%;">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><%= @organization.name %> </header>

      <img src="/assets/salvationArmy.jpg" height="100%"><br>


      <ul class="account">
        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">Description:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">The Salvation Army, an international movement, is an evangelical part of the universal Christian church. </p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div style="width: 80%; float: left; height: 80%;">
            <label for="name">Location:<%= @organization.city %></label>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div style="width: 80%; float: left; height: 80%;">
            <label for="name">Phone Number:<%= @organization.phone_number %> </label>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div style="width: 80%; float: left; height: 80%;">
            <label for="name">E-mail:<%= @organization.email %></label>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div style="width: 80%; float: left;">
            <label for="name">Website: <%= @organization.website_url %></label>
          </div>
        </li>

        <li><hr></li>
            <%= link_to "Edit Profile", edit_organization_path(session[:organization_id]), :class => "tfbutton" %><br><br>
      </ul>


    </div>

    <div class="reqAcctBox">
      <div class="box" style="height: 15em; margin-bottom: 3%;">
        <div>
          <%= link_to "Make New Request", new_request_path, :class => "tfbutton" %>

        </div>

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Requests</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
            <ul class="parent-menu">
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/20/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/16/14</div>
              </a>
            </li>
            </ul>
          </nav>
        </div>

      </div>
      <div class="box" style=" height: 20em; ">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Request History</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
            <ul class="parent-menu">
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/13/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">5/10/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">5/1/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">4/1/14</div>
              </a>
            </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
