  <div class="contentBox" style="margin: 5% auto 5% auto; width: 90em;">


    <% if flash[:notice] %>
          <div class="signup"><%= flash[:notice] %></div>
          <% end %>

    <div class="box" style="float: left; width: 40%;">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><%= @organization.name %> </header>

      <div class="profileImg">
        <img src="/assets/salvationArmy.jpg" height="100%"><br>
      </div>

      <ul class="account">
        <li>
          <div class="fill_label">
            <label for="name">Description:</label>
          </div>

          <div class="fill_p">
          <p class="orgDes"><%= @organization.description %> </p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Location:</label>
          </div>

          <div class="fill_p">
            <p><%= @organization.city %></p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Phone Number:</label>
          </div>
          <div class="fill_p">
            <p><%= @organization.phone_number %> </p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">E-mail:</label>
          </div>
          <div class="fill_p">
            <p><%= @organization.email %></p>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Website:</label>
          </div>
          <div class="fill_p">
            <p><%= @organization.website_url %></p>
          </div>
        </li>

        <li><hr></li>
            <%= link_to "Edit Profile", edit_organization_path(session[:organization_id]), :class => "tfbutton" if session[:organization_id] %><br><br>
      </ul>


    </div>

    <div class="reqAcctBox" style="margin-top: 2%";>
      <div class="box" style="margin-top: 0; width: 100%">
        <div>
          <%= link_to "Make New Request", new_request_path, :class => "tfbutton" if session[:organization_id] %>

        </div>

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Requests</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav class="menu">
            <% @requests.each do |request| %>
            <ul class="parent-menu">
            <li>
                <div class="acc_reqMainContent">
                  <strong><%= link_to "#{request.target_resource_count} #{request.resource}", request_path(request.id) if request.end_date.nil? || request.end_date >= Date.today %></strong>
                  <p><%= link_to "#{request.address}", request_path(request.id) if request.end_date.nil? || request.end_date >= Date.today %></p>
                </div>
                <div class="acc_reqDate" style="float: right;"><%= "End Date: #{request.end_date}" if !request.end_date.nil? && request.end_date >= Date.today %></div>
                <div class="acc_reqDate" style="float: right;"><%= "End Date: indefinite" if request.end_date.nil?  %></div>
                <hr></hr>
            </li>
            </ul>
            <% end %>
          </nav>
            <% if @requests.size == 0 %>
              <p> No requests active </p>
            <% end %>

        </div>

      </div>
      <div class="box" style="width: 100%; height: 20em; ">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Request History</header>

        <div style="height: 85%; overflow-y: scroll">

          <nav id="menu">
             <% @requests.each do |request| %>
            <ul class="parent-menu">
            <li>

                <div style="float: left;">
                  <%= link_to "#{request.target_resource_count} of #{request.resource}", request_path(request.id) if !request.end_date.nil? && request.end_date < Date.today  %>
                  <p><%= link_to "#{request.address}", request_path(request.id) if !request.end_date.nil? && request.end_date < Date.today  %></p>
                </div>
                <div style="float: right;">
                  <%= "Finished at #{request.end_date}" if !request.end_date.nil? && request.end_date < Date.today %>
                </div>
            </li>
            </ul>
            <% end %>

            <% if @requests.size == 0 %>
              <p> No requests in history </p>
            <% end %>

          </nav>
        </div>
      </div>
    </div>

  </div>
