<script>
  $(document).ready(function(){
    $('.views-field-phone').each(function(){
      var string = $(this).html();
      string = string.replace(/\D/g,'');
      $(this).html(string.substring(0,3) + '-' + string.substring(3,6) + '-' + string.substring(6,10))
    });
  });

</script>

<div class="overflowBox">
    <% if flash[:notice] %>
          <div class="signup"><%= flash[:notice] %></div>
          <% end %>

    <div class="orgBox">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;"><p class="aP"><%= @organization.name.titleize %></p> </header>

      <div class="profileImg">
        <div class="profileImg-container">
          <%= cl_image_tag(@organization.avatar_url, class: "avatar") %><br>
        </div>
      </div>

      <ul class="account">
        <li>
          <div class="fill_label">
            <label for="name">Description:</label>
          </div>

          <div class="fill_p">
          <p class="orgDes"><%= @organization.description %> </p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Address:</label>
          </div>

          <div class="fill_p">
            <p><%= @organization.address %></p>
            <p><%= @organization.city %></p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Phone Number:</label>
          </div>
          <div class="fill_p">
            <p class="views-field-phone"><%= @organization.phone_number %> </p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">E-mail:</label>
          </div>
          <div class="fill_p">
            <p><%= @organization.email %></p>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div class="fill_label">
            <label for="name">Website:</label>
          </div>
          <div class="fill_p">
            <p><%= @organization.website_url %></p>
          </div>
        </li>

        <li><hr></li>
        <p align="center">
          <%= link_to "Edit Profile", edit_organization_path(session[:organization_id]),
                  :class => "tfbutton" if session[:organization_id] %>
        </p>
      </ul>
    </div>

    <div class="reqAcctBox" style="margin-top: 2%";>
      <div class="reqAcctBox_box">
        <div>
          <%= link_to "Make New Request", new_request_path,
                  :class => "tfbutton" if session[:organization_id] %>
        </div>

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">
          Active Requests
        </header>

        <div class="reqInner">
          <nav class="menu">
            <ul class="parent-menu">
              <% @requests_active = 0 %>
              <% @requests.each do |request| %>
                <% if request.end_date.nil? || request.end_date > Date.today %>
                  <% @requests_active += 1 %>
                  <li>
                    <div class="acc_reqMainContent">
                      <% if request.resource.pluralize == request.resource %>
                        <% resource_str = request.target_resource_count != 1 ? request.resource : request.resource.singularize %>
                      <% elsif request.resource.singularize == request.resource %>
                        <% resource_str = request.target_resource_count == 1 ? request.resource : request.resource.pluralize %>
                      <% end %>

                      <strong>
                        <%= link_to "#{request.target_resource_count} #{resource_str}",
                                      request_path(request.id) %>
                      </strong>
                      <p>
                        <%= link_to "#{request.address}", request_path(request.id) %>
                      </p>
                    </div>
                    <div class="acc_reqDate" style="float: right;">
                      <%= "End Date: #{request.end_date}" if !request.end_date.nil? %>
                      <%= "End Date: indefinite" if request.end_date.nil? %>
                    </div>
                    <hr>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% if @requests_active == 0 %>
              <p align="center"> No requests active </p>
            <% end %>
          </nav>
        </div>
      </div>

      <div class="reqAcctBox_box2">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">
          Request History
        </header>

        <div class="reqInner">

          <nav class="menu">
            <ul class="parent-menu">
              <% @requests_in_history = 0 %>
              <% @requests.each do |request| %>
                <% if !request.end_date.nil? && request.end_date < Date.today %>
                  <% @requests_in_history += 1 %>
                  <li>
                    <hr>
                    <div class="acc_reqMainContent">
                      <strong>
                        <% if request.resource.pluralize == request.resource %>
                          <% resource_str = request.target_resource_count != 1 ? request.resource : request.resource.singularize %>
                        <% elsif request.resource.singularize == request.resource %>
                          <% resource_str = request.target_resource_count == 1 ? request.resource : request.resource.pluralize %>
                        <% end %>

                        <%= link_to "#{request.target_resource_count} #{resource_str}",
                              request_path(request.id) %>
                      </strong>
                      <p>
                        <%= link_to "#{request.address}", request_path(request.id) %>
                      </p>
                    </div>
                    <div class="acc_reqDate" style="float: right;">
                      <%= "End Date: #{request.end_date}" %>
                    </div>
                    <hr>
                  </li>
                <% end %>
              <% end %>
            </ul>

            <% if @requests_in_history == 0 %>
              <p align="center"> No requests in history </p>
            <% end %>

          </nav>
        </div>
      </div>

      <div class="placeholderBox">
      </div>
    </div>

  </div>
