<p>Dear <%= @donor.name.titleize %>,</p>

<% if @request.resource.pluralize == @request.resource %>
  <% resource_str = @contribution.resource_amount != 1 ? @request.resource : @request.resource.singularize %>
<% elsif @request.resource.singularize == @request.resource %>
  <% resource_str = @contribution.resource_amount == 1 ? @request.resource : @request.resource.pluralize %>
<% end %>

<p>
  Thank you so much for promising to donate <%= @contribution.resource_amount %>
  <%= resource_str %> to <%= @organization.name.titleize %>!
</p>

<p>
  If you have questions for <%= @organization.name %>, call them at
  <%= @organization.phone_number %>, or email them at <%= @organization.email %>.
</p>

<% if @contribution.pickup %>
  Just a reminder that a member of <%= @organization.name %> will pick up your donation at <%= @contribution.pickupAddress %>. Your available days are from <%= @contribution.pickup_start_date %> to <%= @contribution.pickup_date_time %>, <%= @contribution.pickup_start_time %> to <%= @contribution.pickup_end_time %>.
<% end %>

<% if @contribution.tax_form_flag && @contribution.pickup %>
  The tax deduction form you requested will be emailed to you after pick up.
<% end %>
<% if @contribution.tax_form_flag && !@contribution.pickup %>
  The tax deduction form you requested will be given to you after delivery.
<% end %>

<p>
  Sincerely,<br>
  Helpful Hand Team
</p>

<p>
  <a href="http://www.helpfulhand.org">www.helpfulhand.org</a>
</p>
