<div class="topLinks">
      <%= link_to "HOME", controller: "requests", action: "landing_page" %>

        <% if session[:organization_id] %>
        <%= link_to "PROFILE", organization_path(session[:organization_id]), :method => :get %>
        <% elsif session[:donor_id] %>
         <%= link_to "PROFILE", donor_path(session[:donor_id]), :method => :get %>
        <% end %>
      <% if session[:organization_id] || session[:donor_id] %>
        <%= link_to "LOG OUT", log_out_path %>
      <% else %>
          <%= link_to "LOG IN", log_in_path %>
      <% end %>

      <div class="footDiv">
      <%= link_to "How It Works", questions_static_pages_path, :method => :get %>
    </div>
  </div>