<!DOCTYPE html>
<html>
<head>
  <title>Helping Hands</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="/assets/mediaqueries.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "mediaqueries", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render "layouts/header" %>

<% if !current_page?("/") && !current_page?("/sessions/user_type_confirmation")%>
  <%= render "layouts/intro" unless @disable_intro%>
<% end %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
