<!DOCTYPE html>
<html>
<head>
  <title>PolarBear</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Arvo|Abel|Lato', rel:'stylesheet', type:'text/css' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
  <script src = "http://cdnjs.cloudflare.com/ajax/libs/Faker/0.7.0/MinFaker.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
</head>
<body>

<%= yield %>

</body>
</html>
