<!DOCTYPE html>
<html>
<head>
  <title>Helpful Hand</title>

  <meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "jquery-ui.min.css", "jquery-ui.structure.min",
                "jquery-ui.theme.min.css" %>

  <%= favicon_link_tag 'HH_ico.ico' %>
  <%= javascript_include_tag "//code.jquery.com/jquery-1.11.1.js" %>
  <%= javascript_include_tag "//code.jquery.com/ui/1.11.1/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.cloudinary", "jquery.fileupload",
                "jquery.iframe-transport.js", "jquery.ui.widget", "jquery.validate.min",
                "rails" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render "layouts/header" %>

<% if !current_page?("/") && !current_page?("/sessions/user_type_confirmation")%>
  <%= render "layouts/intro" unless @disable_intro%>
<% end %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
