<!DOCTYPE html>
<html>
<head>
  <title>Helping Hands</title>

  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "application.css" %>
   <%= stylesheet_link_tag "media_queries.css" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>

</head>
<body>
<% if !current_page?("/")%>
  <%= render "layouts/header" %>
<% end %>
<% if !current_page?("/") && !current_page?("/sessions/user_type_confirmation")%>
  <%= render "layouts/intro" unless @disable_intro%>
<% end %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
